<div>
    <h1>Todos los usuarios</h1>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>fede</td>
            <td>fsabiche@yahoo.com</td>
            <td>
                <a href="/edit">editar</a>
                <form action="/delete/user/" method="post">
                    <button>Eliminar</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>