<div>
    <h1>Actualizar usuario</h1>
</div>
<form action="/edit" method="post"> 
    <div>
        <input type="text" name="name" placeholder="ingrese su nombre">
    </div>
    <div>
        <input type="email" name="email" placeholder="ingrese su email">
    </div>
   <button type="submit">Actualizar</button>
</form>