<h1>Ingreso</h1>
<div>
    <form action="/login" method="post">
        <div>
            <input type="email" name="email" placeholder="ingrese su email">
        </div>
        <div>
            <input type="password" name="password" placeholder="ingrese su password">
        </div>
        <a href="/olvide">olvido su contraseña</a>
        <button type="submit">Ingreso</button>
    </form>
</div>