<div>
  <h1>Generar password</h1>
</div>
<div>
  <form action="/olvide" method="post">
    <div>
      <input type="email" name="email" placeholder="ingrese su email" />
    </div>
    <button type="submit">enviar email</button>
    <a href="/login">Regresar al login</a>
  </form>
</div>
