<div>
    <h1>Registrar</h1>
</div>
<div>
    <form action="/signup" method="post">
        <div>
            <input type="text" name="nombre" placeholder="ingrese su nombre">
        </div>
        <div>
            <input type="email" name="email" placeholder="ingrese su email">
        </div>
        <div>
            <input type="password" name="password" placeholder="ingrese su password">
        </div>
        <button type="submit">Registrar</button>
    </form>
</div>